<html ng-app="linkinPark">

<head>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
	</script>
	<title>Linkin Park</title>
</head>

<body ng-controller="MainCtrl as ctrl">
	<form onload="testConsole()">
		<input type="text" ng-model="author" placeholder="Enter your name">
		<input type="text" ng-model="link" placeholder="Paste your URL">
		<input type="text" ng-model="label" placeholder="Enter label">
		<button>Submit</button>
	</form>
	<script 
		type="text/javascript" src="./js/index.js">
	</script>
</body>

</html>